# gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
gradle/wrapper/**/dists/
gradle/wrapper/**/daemon/
gradle/wrapper/**/caches/

# java/kotlin
*.class
*.jar
*.war
*.ear
*.iml

# misc
*.log
*.tmp
*.swp
.DS_Store
